<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HealthInformationSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HealthInformationSystem.My.MySettings.HealthConnectionString"
            connectionString="Data Source=LENOVO-AX3RONG2;Initial Catalog=LeaveFiling;Persist Security Info=True;User ID=sa;Password=Nbc12#"
            providerName="System.Data.SqlClient" />
        <add name="HealthInformationSystem.My.MySettings.JeonsoftConnectionString"
            connectionString="Data Source=LENOVO-AX3RONG2;Initial Catalog=NBCTECHDB;Persist Security Info=True;User ID=sa;Password=Nbc12#" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <HealthInformationSystem.My.MySettings>
            <setting name="IsDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IniDirMedicalRecord" serializeAs="String">
                <value />
            </setting>
            <setting name="AttachDirMedicalRecord" serializeAs="String">
                <value>\\192.168.20.11\GA\00---CLINIC\Imgs\Medical Record</value>
            </setting>
            <setting name="IniDirApe" serializeAs="String">
                <value />
            </setting>
            <setting name="AttachDirApe" serializeAs="String">
                <value>\\192.168.20.11\GA\00---CLINIC\Imgs\APE</value>
            </setting>
        </HealthInformationSystem.My.MySettings>
    </applicationSettings>
</configuration>